<h1 class="text-center mt-4">Edit artile</h1>

<%= render 'form' %>
<%= link_to 'go to list' , articles_path %>
<%= button_to 'delete' , article_path(@article), method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }%> 