/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap/dist/css/bootstrap';
body{
    font-size: 16px;
    background-color: lightgray;
}

.navbar{
background-color: rgb(29, 30, 30) !important;
}
.nav-link , .navbar-brand{
    color: white !important;
}
#logo{
    font: size 1.7em;
    font-weight: bold;
}

#home-container{
    margin-top: 25px;
}

.jumbotron{
    /* background-color: aqua !important; */
    background-image: url('jorg-angeli-1tyuLfDOnG0-unsplash.jpg') ;
    background-position: center ;
    background-repeat: no-repeat ;
    color: white !important;
text-align: center;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

/* Other Classes for Page Styling */

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    justify-content: space-between;
}

.background-color-blue{
    background-color: aqua;
    padding: 10px;
}